<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>正航科技有限公司</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/common.css">
<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<!-- 头部 -->
	<header class="public_header clearfix">
		<img src="image/logo.jpg">
		<nav class="header_nav clearfix">
			<a href="index.html">首页</a>
			<a href="about.html?a=1">企业新闻</a>
			<a href="about.html?a=2">行业动态</a>
			<a href="about.html?a=3">企业理念</a>
			<a href="about.html?a=4">网站留言</a>
		</nav>
	</header>

	<!-- banner -->
	<div class="bigImg_wrapper">
		<img src="image/sec_banner.jpg">
	</div>


	<!-- 内容 -->
	<div class="public_container">
		<div class="index_content_wrap clearfix">
			<!-- 菜单 -->
			<div class="menu">
				<ul class="menuList">
					<li class="on"><a href="#">企业新闻</a></li>
					<li><a href="#">行业动态</a></li>
					<li><a href="#">企业理念</a></li>
					<li><a href="#">网站留言</a></li>
				</ul>
			</div>

			<!-- 右侧内容 -->
			<div class="index_content_r">
				<div class="content_r_img_wrapper">
					<img id="content_r_img" src="image/company_news.jpg" alt="标题">
				</div>
				<div class="content_div_list">
					<!-- 企业新闻内容-->
					<div id="content_div_1" class="content_1 show">
						<ul>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相1</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相2</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相3</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相4</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相5</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相6</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相7</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相8</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相9</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相10</a><span class="date">2013-7-12</span></li>
							<li><a href="#">DS平拍巡展武汉店开幕 移动旗舰店亮相11</a><span class="date">2013-7-12</span></li>
						</ul>
					</div>
					<!-- 行业动态内容-->
					<div  class="content_2 hide">
						<ul>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼1</a>/</li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼2</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼3</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼4</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼5</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼6</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼7</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼8</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼9</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼10</a></li>
							<li><a href="#">日本老人抗议政府没收财产 用燃烧弹烧政府大楼11</a></li>
						</ul>

					</div>
					<!-- 企业理念内容-->
					<div class="content_3 hide">
						<p>正是公司强大的凝聚力，一客户为中心的服务理念和诚信糗事的价值观正定了郑航客机的地位，体现了正航科技的竞争优势。</p>
					</div>
					<!-- 网站留言内容-->
					<div class="content_4 hide">
						<!-- 加入验证 -->
						<form ng-app="myApp" ng-controller="validateController" name="myForm"
						novalidate>	
							<p>
								<span>姓&nbsp;&nbsp;名:</span><input type="text" ng-model="user" name="user" placeholder="请输入姓名" required>

								<i ng-show="myForm.user.$dirty && myForm.user.$invalid && myForm.user.$error.required">必填项</i>
							</p>

							<p>
								<span>性&nbsp;&nbsp;别:</span><input type="radio" name="sex" checked>男<input type="radio" name="sex" selected>女
							</p>

							<p><span>兴&nbsp;&nbsp;趣:</span><input type="checkbox" name="xingqu" >游戏<input type="checkbox" name="xingqu" selected>运动<input type="checkbox" name="xingqu" selected>看书<input type="checkbox" name="xingqu" selected>听音乐<input type="checkbox" name="xingqu" selected>美食<input type="checkbox" name="xingqu" selected>摄影</p>
							<p>
								<span>联系方式:</span><input 
									type="number" 
									ng-model="contact" 
									name="contact" 
									required 
									placeholder="请输入11位数字" 
									ng-minlength="11"
									ng-maxlength="11">
								<i ng-show="myForm.contact.$dirty && myForm.contact.$error.required">请输入11位数字</i>
								<i ng-show="(myForm.contact.$dirty && myForm.contact.$error.minlength)
								|| (myForm.contact.$dirty && myForm.contact.$error.maxlength)" >
									输入数字长度不对</i>
							</p>
							<p><span>qq:</span><input type="text"></p>
							<p><span>来自:</span><select>
	            				<option>中国大陆</option>
	                            <option>香港特别行政区</option>
	                            <option>澳门特别行政区</option>
	                            <option>台湾地区</option>
	            		 	</select></p>
	            		 	<p><span>email:</span><input 
		            		 		type="email" 
		            		 		name="email".
		            		 		ng-model="email"  
		            		 		required>
	            		 		<i ng-show="myForm.email.$dirty && myForm.email.$error.required">必填项</i>

	            		 	</p>
	            		 	<p class="leaveMes"><span>留言:</span><textarea class="textfield"></textarea></p>
	            		 	<p>
			                &nbsp;&nbsp;&nbsp;<input type="submit">&nbsp;
			                <input type="reset">
			                <button ng-click="getFormStatus()">查看表单状态</button>
			            	</p>
						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 尾部 -->
	<footer class="public_footer">
		<p>2011-2013 © 正航版权有限公司 版权所有</p>
		<p>地址：上海乐青市柳市镇柳市大夏 邮编:200000 电话: 021-12345678 传真： 021-12345678 E-mail: admin@zhenghang.com</p>
	</footer>

	<script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<script src="js/jquery-3.1.1.js"></script>
 	<script src="https://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			// 内容页 标题图片名数组
			var imgNameArray = [
									"company_cultrue.jpg",
									"company_news.jpg",
									"message.jpg",
									"world_news.jpg"
								];

		    var $menuList = $(".menuList li a")
		    $menuList.click(function(){
		        // console.log("点击");
		        var $m_this = $(this) 
		      	if($m_this.parent().hasClass("on")){

		      	}else{
		      		// 更换图片
		      		var imgPath = "image/"+imgNameArray[($m_this).parent().index()];
		      		$("#content_r_img").attr("src",imgPath);

		      		// 隐藏与显示div
		        	$m_this.parent().addClass("on");
		        	$m_this.parent().siblings().removeClass("on")
		        	var $xx = $(".content_div_list").find("div").removeClass("show").addClass("hide");
		        	$(".content_div_list").find("div").eq(($m_this).parent().index()).removeClass("hide").addClass("show");
		      	}
		    });
		});
	</script>
	<script type="text/javascript">
		var app = angular.module("myApp",[]);
		app.controller("validateController",function($scope){
			$scope.getFormStatus = function(){
	            console.log($scope.myForm);
	        }
		});
	</script>
</body>
</html>